@import "./normalize.css";

html {
  font-family: Roboto, sans-serif;
}


.nav-userbox {
  margin-left: 0px;
  height: 30vh;
  position: relative;
  background-image: url('/images/bg.jpg');
}

.nav-userbox>p {
  color: white;
  font-size: 0.9em;
  padding: 16px 16px;
  margin: 0px;
}

.nav-userbox .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
