@import "./normalize.css";

$primary-color: green;

html {
  font-family: Roboto, sans-serif;
}

h1 {
  color: $primary-color;
}

li.task {
  list-style-type: none;

  label {
    padding: 0 10px;
  }
}
