@import "./normalize.css";

html {
  font-family: Roboto, sans-serif;
}

.appBar {
  position: fixed !important;
  top: 0;
  left: 0;
}

.menu-icon {
  top: 5px;
  margin-right: 16px;
}

.nav-userbox {
  margin-left: 0px;
  height: 25vh;
  min-height: 200px;
  position: relative;
  background-image: url('/images/bg.jpg');
}

.nav-userbox>p {
  color: white;
  font-size: 0.9em;
  padding: 16px 16px;
  margin: 0px;
  font-weight: 400;
}

.nav-userbox .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.content {
  padding: 20px;
  margin-top: 64px;
  transition: padding-left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

@media (min-width: 900px) {
  .content.nav-open {
    padding-left: 280px;
  }
}

.loader {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.story {
  margin-bottom: 20px;
}
